@font-face {
    font-family: "Kumbh Sans";
    src: url("font/KumbhSans-VariableFont_wght.ttf");
}
html, body{
    box-sizing: border-box;
}
body{
    /* primary colors */
    --color-orange: hsl(26, 100%, 55%);
    --color-pale-orange: hsl(25, 100%, 94%);

    /* secondary colors */
    --color-very-vark-blue: hsl(220, 13%, 13%);
    --color-dark-grayish-blue: hsl(219, 9%, 45%);
    --color-grayish-blue: hsl(220, 14%, 75%);
    --color-light-grayish-blue: hsl(223, 64%, 98%);
    --color-white: hsl(0, 0%, 100%);
    --color-black-lightbox: hsla(0, 0%, 0%, 75%);
    --color-icon-on-hover: invert(0%) sepia(92%) saturate(7418%) hue-rotate(60deg) brightness(36%) contrast(90%);
    --color-icon-on-hover-orange: invert(67%) sepia(33%) saturate(2856%) hue-rotate(336deg) brightness(101%) contrast(87%);
    --color-icon-white: invert(99%) sepia(0%) saturate(3124%) hue-rotate(7deg) brightness(118%) contrast(100%);

    display: flex;
    flex-direction: column;
    font-family: 'Kumbh Sans';
    align-items: center;
    background-color: var(--color-white);
    font-size: 16px;
    margin: 0;
}
footer{
    display: none;
}
h1, p{
    margin: 0;
}
.text-bold{
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--color-very-vark-blue);
}
.text-normal{
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--color-dark-grayish-blue);
}
.reduction{
    align-self: center;
    font-size: 0.6em;
    color: var(--color-orange);
    background-color: var(--color-pale-orange);
    border-radius: 2%;
    padding: 0.2rem 0.4rem;
    border-radius: 0.2rem;
    margin-left: 10px;
}
.company-name{
    font-weight: 700;
    font-size: 0.8rem;
    color: var(--color-orange);
}
.price-without-reduct{
    text-decoration: line-through;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.lightbox{
    display: none;
}

header{
    width: fit-content;
    padding: 20px 0px;
}
nav ul{
    list-style: none;
    padding: 0;
}
ul a{
    text-decoration: none;
}
.nav-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.administration{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 15px;
}
.navbar-icon{
    height: 22px;
    width: auto;
}
.cart-icon{
    position: relative;
    max-width: fit-content;
}
.badge{
    position: absolute;
    top: -8px;
    right: -5px;
    font-size: 0.8em;
    background-color: var(--color-orange);
    color: var(--color-white);
    border-radius: 45%;
    padding: 0px 6px;
}
.cart-info{
    display: none;
}
main{
    display: grid;
    grid-template-rows: auto;
    justify-content: space-around;
}

main img{
    max-width: 100%;
    height: auto;
}
.carousel{
    position: relative;
    width: 100%;
    height: 100%;
}
.carousel img{
    position: absolute;
    visibility: hidden;
}
.shown{
    visibility: visible !important;
}
.order{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
.order-options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: var(--color-light-grayish-blue);
    border: none;
}
.order-options span{
    font-size: 1rem;
    font-weight: 700;
    color: var(--color-very-vark-blue);
}
.price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.price>div{
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.action-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: var(--color-white);
    background-color: var(--color-orange);
    border: none;
}
.action-button, .order-options{
    border-radius: 0.6rem;
    height: 3rem;
}
.action-button img{
    height: 1rem;
    margin-right: 0.8rem;
    width: auto;
}

@media screen and (max-width: 1440px) {
    .container{
        max-width: 84vw;
    }
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 8vh;
        width: 100%;
        border-bottom: 1px solid var(--color-grayish-blue);
    }
    .nav-links{
        display: flex;
        flex-direction: row;
        gap: 1.8rem;
    }
    .nav-links>img{
        display: none;
    }
    nav img{
        display: none;
    }
    nav ul{
        display: flex;
        flex-direction: row;
        gap: 1.4rem;
    }
    .administration{
        gap: 35px;
    }
    .administration .navbar-icon{
        width: 25px;
        height: auto;
    }
    .profile img{
        width: 40px !important;
        height: auto;
    }
    main{
        grid-template-columns: 40% 40%;
    }
}
@media screen and (max-width: 375px){
    .container{
        width: 100%;
    }
    .lightbox{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--color-black-lightbox);
        z-index: 2;
    }
    main{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding-bottom: 2rem;
    }
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 4vh;
        width: 88%;
    }
    nav{
        display: none;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 55vw;
        gap: 30px;
        padding: 20px 20px;
        background-color: var(--color-white);
        z-index: 3;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    ul a{
        color: var(--color-very-vark-blue);
        font-size: 1.2em;
        font-weight: 700;
    }
    .administration .navbar-icon{
        width: 25px;
        height: auto;
    }
    .sneakers-carousel{
        position: relative;
        overflow: hidden;
        justify-self: stretch;
        height: 37vh;
        width: 100%;
    }
    .carousel{
        top: 50%;
        transform: translateY(-50%);
    }
    .carousel-control{
        display: flex;
        justify-content: center;
        position: absolute;
        padding: 10px 13px;
        width: fit-content;
        height: auto;
        background-color: var(--color-white);
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
        z-index: 4;
    }
    .carousel-control img{
        width: 10px;
        height: auto;
    }
    .carousel-control.next{
        right: 16px;
    }
    .carousel-control.previous{
        left: 16px;
    }
    .carousel img{
        top: 50%;
        transform: translateY(-50%);
    }
    .carousel-slots{
        display: none;
    }
    .sneakers-description{
        display: grid;
        grid-template-rows: auto 1fr;
        height: 1fr;
        width: 88%;
        justify-self: center;
    }
    .description{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1rem;
        padding: 1rem 0;
    }
}
